* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}


/* Add styles here! */

header {
    border-bottom: solid 4px #000;
}

.intro-chunk {
    padding: 80px;
}

.title {
    font-size: 1.25rem;
}

header p {
    margin-bottom: 30px;
    line-height: 1.2;
    width: 25%;
}

p>strong {
    color: teal;
}

main>section {
    background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
    display: inline-block;
    width: 100%;
}

h2 {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    vertical-align: middle;
}

.card {
    display: block;
    margin: 70px;
    padding: 10px;
    background-color: #fff;
    height: 230px;
    width: 50%;
}

.indented-heading {
    display: inline-block;
    width: 45%;
    height: 40px;
    margin-left: -10px;
    background-color: hsl(45deg, 100%, 50%);
    border-bottom: solid 4px hsl(45deg, 100%, 40%);
    padding-top: 10px;
}